#Database
# For local development use localhost
# For Docker this is handled automatically by docker-compose
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/finance_dashboard
SPRING_DATASOURCE_USERNAME= postgres_username
SPRING_DATASOURCE_PASSWORD= postgres_password

#JWT
# Must be a 256-bit hex string-do not change this in production without rotation
APP_JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# JWT token expiry in milliseconds- 86400000 = 24 hours
APP_JWT_EXPIRATION=86400000

#Server
SERVER_PORT=8081